<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.bjpowernode.crm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.bjpowernode.crm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <!--监听器-->
  <listener>
    <listener-class>com.bjpowernode.crm.web.listener.SysInitListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.bjpowernode.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>
<!--市场活动控制-->
  <servlet>
    <servlet-name>ActivityController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.ActivityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityController</servlet-name>
    <url-pattern>/workbench/activity/getUserList.dao</url-pattern>
    <url-pattern>/workbench/activity/save.dao</url-pattern>
    <url-pattern>/workbench/activity/pageList.dao</url-pattern>
    <url-pattern>/workbench/activity/delete.dao</url-pattern>
    <url-pattern>/workbench/activity/getUserListandActivity.dao</url-pattern>
    <url-pattern>/workbench/activity/update.dao</url-pattern>
    <url-pattern>/workbench/activity/detail.dao</url-pattern>
    <url-pattern>/workbench/activity/getRemarkListByAid.dao</url-pattern>
    <url-pattern>/workbench/activity/deleteRemark.dao</url-pattern>
    <url-pattern>/workbench/activity/saveRemark.dao</url-pattern>
    <url-pattern>/workbench/activity/updateRemark.dao</url-pattern>
    <url-pattern>/workbench/activity/getActivityCharts.dao</url-pattern>
  </servlet-mapping>

  <!--线索控制器-->
  <servlet>
    <servlet-name>ClueController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.ClueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClueController</servlet-name>
    <url-pattern>/workbench/clue/getUserList.dao</url-pattern>
    <url-pattern>/workbench/clue/pageList.dao</url-pattern>
    <url-pattern>/workbench/clue/save.dao</url-pattern>
    <url-pattern>/workbench/clue/detail.dao</url-pattern>
    <url-pattern>/workbench/clue/getActivityListByClueId.dao</url-pattern>
    <url-pattern>/workbench/clue/unbund.dao</url-pattern>
    <url-pattern>/workbench/clue/getActivityListByNameNotByClueId.dao</url-pattern>
    <url-pattern>/workbench/clue/bund.dao</url-pattern>
    <url-pattern>/workbench/clue/getActivityListByName.dao</url-pattern>
    <url-pattern>/workbench/clue/convert.dao</url-pattern>
    <url-pattern>/workbench/clue/update.dao</url-pattern>
    <url-pattern>/workbench/clue/updateList.dao</url-pattern>
    <url-pattern>/workbench/clue/deleteList.dao</url-pattern>
    <url-pattern>/workbench/clue/getClueRemarkList.dao</url-pattern>
    <url-pattern>/workbench/clue/saveClueRemark.dao</url-pattern>
    <url-pattern>/workbench/clue/updateClueRemark.dao</url-pattern>
    <url-pattern>/workbench/clue/deleteClueRemark.dao</url-pattern>
    <url-pattern>/workbench/clue/getCharts.dao</url-pattern>
  </servlet-mapping>
  
  <!--交易控制器-->
  <servlet>
    <servlet-name>TranController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.TranController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranController</servlet-name>
    <url-pattern>/workbench/transaction/add.dao</url-pattern>
    <url-pattern>/workbench/transaction/searchActivity.dao</url-pattern>
    <url-pattern>/workbench/transaction/searchContacts.dao</url-pattern>
    <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
    <url-pattern>/workbench/transaction/save.do</url-pattern>
    <url-pattern>/workbench/transaction/pageList.do</url-pattern>
    <url-pattern>/workbench/transaction/detail.do</url-pattern>
    <url-pattern>/workbench/transaction/getHistoryListByTranId.do</url-pattern>
    <url-pattern>/workbench/transaction/edit.do</url-pattern>
    <url-pattern>/workbench/transaction/searchActivityList.do</url-pattern>
    <url-pattern>/workbench/transaction/update.do</url-pattern>
    <url-pattern>/workbench/transaction/delete.do</url-pattern>
    <url-pattern>/workbench/transaction/changeStage.do</url-pattern>
    <url-pattern>/workbench/transaction/getCharts.do</url-pattern>
  </servlet-mapping>
  <!--客户控制器-->
  <servlet>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/workbench/customer/CustomerList.dao</url-pattern>
    <url-pattern>/workbench/customer/getUserList.dao</url-pattern>
    <url-pattern>/workbench/customer/save.dao</url-pattern>
    <url-pattern>/workbench/customer/update.dao</url-pattern>
    <url-pattern>/workbench/customer/updateCustomer.dao</url-pattern>
    <url-pattern>/workbench/customer/delete.dao</url-pattern>
    <url-pattern>/workbench/customer/detail.dao</url-pattern>
    <url-pattern>/workbench/customer/saveRemark.dao</url-pattern>
    <url-pattern>/workbench/customer/showRemark.dao</url-pattern>
    <url-pattern>/workbench/customer/updateRemark.dao</url-pattern>
    <url-pattern>/workbench/customer/deleteRemark.dao</url-pattern>
    <url-pattern>/workbench/customer/showTran.dao</url-pattern>
    <url-pattern>/workbench/customer/deleteTran.dao</url-pattern>
  </servlet-mapping>
  <!--联系人控制器-->
  <servlet>
    <servlet-name>ContactsController</servlet-name>
    <servlet-class>com.bjpowernode.crm.workbench.web.controller.ContactsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactsController</servlet-name>
    <url-pattern>/workbench/contacts/contactsList.dao</url-pattern>
  </servlet-mapping>
</web-app>